In [12]:
import numpy as np
import pandas as pd
import math
import jieba
import os

os.chdir("D:\学习材料\数学\数学建模与实验\美赛\美赛进行时\\2023\\2023_MCM-ICM_Problems")
file = 'Problem_C_Data_Wordle.xlsx'
df_sheet = pd.read_excel(file, sheet_name="Sheet1")
docs = df_sheet["Word"]

In [3]:
letters=[chr(i)for i in range(97,123)]
letters

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [4]:
# 建立一个M行V列的全0矩阵，M问文档样本数，这里是行数，V为不重复词语数，即编码维度
V = len(letters)
M = len(docs)
onehot = np.zeros((M, V))  # 二维矩阵要使用双括号
tf = np.zeros((M, V))

for i, doc in enumerate(docs):
    for word in doc:
        if word in letters:
            pos = letters.index(word)
            onehot[i][pos] = 1
            tf[i][pos] += 1  # tf,统计某词语在一条样本中出现的次数

row_sum = tf.sum(axis=1)  # 行相加，得到每个样本出现的词语数
# 计算TF(t,d)
tf = tf / row_sum[:, np.newaxis]  # 分母表示各样本出现的词语数，tf为单词在样本中出现的次数，[:,np.newaxis]作用类似于行列转置
# 计算DF(t,D)，IDF
df = onehot.sum(axis=0)  # 列相加，表示有多少样本包含词袋某词
idf = list(map(lambda x: math.log10((M + 1) / (x + 1)), df))

# 计算TFIDF
tfidf = tf * np.array(idf)
tfidf = pd.DataFrame(tfidf, columns=letters)

In [5]:
tfidf

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.154195,0.0
1,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
2,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.142241,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.231672,0.0,0.0,0.000000,0.0
3,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
4,0.000000,0.0,0.144759,0.166405,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,0.000000,0.0,0.000000,0.166405,0.000000,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
355,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.000000,0.0,...,0.35563,0.088472,0.000000,0.0,0.152782,0.000000,0.0,0.0,0.154195,0.0
356,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.350025,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
357,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
358,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.126405,0.0,0.152782,0.000000,0.0,0.0,0.000000,0.0

In [6]:
tfidf.iloc[::-1]

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
358,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.126405,0.0,0.152782,0.000000,0.0,0.0,0.000000,0.0
357,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
356,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.350025,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
355,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.000000,0.0,...,0.35563,0.088472,0.000000,0.0,0.152782,0.000000,0.0,0.0,0.154195,0.0
354,0.000000,0.0,0.000000,0.166405,0.000000,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,0.000000,0.0,0.144759,0.166405,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
3,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
2,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.142241,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.231672,0.0,0.0,0.000000,0.0
1,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
0,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.154195,0.0

In [7]:
tfidf_reverse=tfidf.iloc[::-1]

In [8]:
tfidf_reverse

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
358,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.126405,0.0,0.152782,0.000000,0.0,0.0,0.000000,0.0
357,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
356,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.350025,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
355,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.000000,0.0,...,0.35563,0.088472,0.000000,0.0,0.152782,0.000000,0.0,0.0,0.154195,0.0
354,0.000000,0.0,0.000000,0.166405,0.000000,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,0.000000,0.0,0.144759,0.166405,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
3,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
2,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.142241,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.231672,0.0,0.0,0.000000,0.0
1,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
0,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.154195,0.0

In [9]:
tfidf_reverse.reset_index(drop=True)

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.126405,0.0,0.152782,0.000000,0.0,0.0,0.000000,0.0
1,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
2,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.350025,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
3,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.000000,0.0,...,0.35563,0.088472,0.000000,0.0,0.152782,0.000000,0.0,0.0,0.154195,0.0
4,0.000000,0.0,0.000000,0.166405,0.000000,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,0.000000,0.0,0.144759,0.166405,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
355,0.000000,0.0,0.000000,0.000000,0.067239,0.0,0.000000,0.000000,0.112133,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
356,0.076623,0.0,0.144759,0.000000,0.000000,0.0,0.000000,0.142241,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.231672,0.0,0.0,0.000000,0.0
357,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.088472,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
358,0.076623,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.154195,0.0

In [10]:
tfidf_reverse.to_excel("tfidf_reverse.xlsx")

In [3]:
x = np.random.randn(3)
x

array([0.72494204, 0.84577687, 2.14582557])

In [13]:
#生成50个随机单词的26个ifidf属性
letter_list=pd.read_excel('字母频数.xlsx')

In [14]:
letter_list=letter_list['单词']

In [ ]:
letter_list

In [15]:
for i in range(0,len(letter_list)):
    letter_list.iloc[i]=letter_list.iloc[i].lower()

In [21]:
idf_list=pd.read_excel('ifidf结果参考.xlsx')
idf_list=idf_list.T
idf_list

          0
a  0.076623
b  0.425976
c  0.144759
d  0.166405
e  0.067239
f  0.212988
g  0.350025
h  0.142241
i  0.112133
j  0.371466
k  0.204965
l  0.112133
m  0.168060
n  0.123357
o  0.095424
p  0.151392
q  0.355630
r  0.088472
s  0.126405
t  0.093279
u  0.152782
v  0.231672
w  0.212988
x  0.320412
y  0.154195
z  0.355630

In [17]:
random_letter_list=pd.DataFrame(columns=list('abcdefghijklmnopqrstuvwxyz'),index=range(0,150))

In [18]:
random_letter_list.fillna(0,inplace=True)
random_letter_list

     a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z
0    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
145  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
146  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
147  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
148  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
149  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[150 rows x 26 columns]

In [32]:
for i in range(0,150):
    for char in letter_list[i]:
            random_letter_list.loc[i,char]=idf_list.loc[char,0]

In [35]:
random_letter_list.to_excel('kk.xlsx')